# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trash

# Thumbnail
._*

# Spotlight
.Spotlight-V100
.Trashes

# Temporary
*.swp
*.swo
*.tmp

# Shell history/logs
.zsh_history
.zsh_sessions/

# Local caches/state
.cache/
.local/share/
.npm/
.pnpm-state/
.bun/
.nvm/
.pyenv/

# Editors/tools
.vscode/
.ServiceHub/

# User folders (do not track)
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
Library/
Applications/

# Other Apps
OrbStack/

# Secrets (do not track)
.netrc
.ssh/
.security.zsh
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Common folders
code/
temp/
bin/
.yarn/
.orbstack/
.rest-client/
.dotnet
.gemini
.kube
.nuget
.ollama
.local
.docker
.continue
.templateengine
.swt
.storybook
.cursor
.cloudflared
.aspnet/
.antigravity
.aider
.codex
